*
	box-sizing:border-box;margin:0;padding:0
body
	font-family:Microsoft YaHei,SimSun,Tahoma,Geneva,sans-serif;min-width:1200px
a
	color:#555;text-decoration:none
button::-moz-focus-inner,input::-moz-focus-inner
	border:0;padding:0